.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    width: 50%;
    text-align: center;
  }

  .smilies-logo {
    margin-top: 3%;
  }

  .close-button {
    font-size: 1.1rem;
    color: $black;
    background: none;
    border: none;
    margin-left: -90%;
    margin-top: 2%;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;

  button {
    margin-top: 10%;
  }

  .input-text {
    padding-left: 30rem;
  }

  .input-text-large {
    padding-top: 5rem;
  }
}

.contact-modal {
  background: white;
  border: solid 1px $black;
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
  height: 70%;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .contact-modal {
    width: 80%;
    height: 90%;
  }

  .contact-form {
    .input-text {
      padding-left: 0rem;
    }
  }
}
