@import 'variables';
@import '~loaders.css/src/animations/ball-scale-multiple';

@import '../components/common/SocialMediaContainer/social-media-container.scss';
@import '../components/user/LoginForm/login-form.scss';
@import '../components/user/SignUpForm/sign-up-form.scss';
@import '../components/common/HamburgerMenu/hamburger-menu.scss';
@import '../components/common/Home/CreateTargetForm/create-target-form.scss';
@import '../components/common/Home/EmptyFeed/empty-feed.scss';
@import '../components/common/Home/ChatList/MessagePreview/message-preview.scss';
@import '../components/common/Home/ChatList/chat-list.scss';
@import '../components/common/ContactModal/contact-form.scss';
@import '../components/user/EditProfile/edit-profile.scss';
@import '../components/common/Home/home.scss';
@import '../components/common/About/about.scss';

@import '../pages/LoginPage/login-page.scss';
@import '../pages/SignUpPage/sign-up-page.scss';
@import '../pages/HomePageLayout/home-page.scss';

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden {
    display: none;
  }

  .loader-active {
    display: block;
  }
}

.header {
  padding: 1rem;
  text-align: center;

  &__logo {
    width: 150px;
  }
}

// Common

.error {
  color: $red;
}

.success {
  color: $green;
}

.button {
  width: 185px;
  height: 37px;
  left: 257px;
  top: 520px;

  margin-top: 0.5rem;
  color: $white;

  background: $black;
}

.input-text {
  width: $input-width;
  height: 37px;
  left: 255px;
  top: 382px;

  border: 0.5px solid $black;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.blue-point {
  margin-right: 0.5rem;
}

.link {
  text-decoration: none;
  color: $black;
}

// Input

.input-container {
  display: flex;
  flex-direction: column;
}

.input-error-message {
  @extend .error;
  width: $input-width;
}

.input-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;

  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  text-align: center;
  color: $black;
}

// Containers

.page-container {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media only screen and (max-width: $medium-bp) {
    width: 100%;
  }
}

.guest-layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media only screen and (max-width: $medium-bp) {
  .main {
    width: 100%;
  }
}
