@import 'variables';
@import '~loaders.css/src/animations/ball-scale-multiple';

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden {
    display: none;
  }

  .loader-active {
    display: block;
  }
}

.header {
  padding: 1rem;
  text-align: center;

  &__logo {
    width: 150px;
  }
}

.input-text {
  width: $input-width;
  height: 37px;
  left: 255px;
  top: 382px;

  border: 0.5px solid $black;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-error-message {
  width: $input-width;
  color: $red;
}

.button {
  width: 185px;
  height: 37px;
  left: 257px;
  top: 520px;

  margin-top: 3%;
  color: $white;

  background: $black;
}
