@import 'src/styles/_variables';

.sign-up-page-container {
  width: 50%;
}

.sign-up-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  hr {
    width: 25%;
    margin-top: 1.5rem;
  }
}
