.social-media-container {
  background: $blue;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 800px) {
    position: relative;
    width: 100%;
  }
}

.iphone-container {
  margin-top: 5%;
  img {
    height: 650px;
  }
}

.app-store-container {
  margin-top: -10%;
}

.social-links-container {
  margin-top: 3%;
  width: 5rem;
  display: flex;
  justify-content: space-between;
}
