.profile-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  .profile-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-icon {
      position: absolute;
    }
  }

  .username {
    font-size: 0.8rem;
  }

  .actions {
    font-size: 0.9 rem;
    display: flex;
    a {
      margin-left: 0.5rem;
    }
  }
}

hr {
  width: 50%;
}
