.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
}

h1 {
  font-weight: 700 !important;
  font-size: 20px !important;
  margin-top: 2% !important;
  line-height: 32px !important;
}

h2 {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 32px !important;
  margin-top: 2% !important;
}

.info-text-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 50%;
      text-align: center;
    }
  }
}

.input-text {
  width: 188px;
  height: 37px;
  left: 255px;
  top: 382px;

  border: 0.5px solid #000000;
  box-sizing: border-box;
}

.label {
  font-weight: 400;
  line-height: 15px;
  padding-top: 5%;
  padding-bottom: 5%;
  /* identical to box height */

  text-align: center;
  color: #000000;
}

.button {
  width: 185px;
  height: 37px;
  left: 257px;
  top: 520px;

  margin-top: 5%;
  color: white;

  background: #000000;
}

.burger-icon {
  width: 15px;
  height: 15px;
  margin-top: 5%;
  margin-left: 5%;
}
